*{
    margin: 0px;
    padding: 0px;
    max-width: auto;
    font-family: "Manrope", sans-serif;
}
/*Common button (white)*/
.white-button{
    background-color: white;
    border: #3167D9 solid 2px;
    border-radius:8px;
    padding:18px 35px;
    font-size:18px;
}

.white-button:hover{
    background-color: #3167D9;
    color: #FFFFFF;
}
/*Common button (color)*/

.color-button{
    background:#3167D9;
    color:white;
    border:none;
    border-radius:8px;
    padding:18px 35px;
    font-size:18px;
    cursor:pointer;
    border: 2px solid #3167D9;
}
.color-button:hover{
    background-color: #ffffff;
    color: #3167D9;
    border:2px solid #3167D9;

}
.container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
}

.header{
    background-color: #F3F5F9;

}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 20px;

}
.header-nav img{
    padding: 10px 0px;
}
.header-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-nav ul a{
    text-decoration: none;
    color: #000000;
    padding: 5PX;
}

.header-nav ul a:hover{
    background-color:#3167D9;
    color: #FFFFFF;
    padding: 5PX;
}

.header-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    gap: 50px;
}

.header-info h1{
    font-size:60px;
    line-height:1.05;
    font-weight:800;
    margin-bottom:25px;
}
.header-info p{
    font-size:20px;
    color:#666;
    line-height:1.6;
    margin-bottom:35px;
}
.hero{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;

}

.hero-img,
.hero-txt{
    flex: 1;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-txt h1{
    font-size: 35px;
}

.hero-btn{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero-txt h3{
    color: #2DDFCC;
}
.services{
    background-color: #F3F5F9;
    padding-top: 40PX;
    
}
.service-info{
    display: flex;
    flex-direction: column;
}
.service-head{
    text-align: center;
}
.service-head h4{
    color: #2DDFCC;
}
.service-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 0px;
}

.card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.card img,
.card h3,
.card p,
.card a{
    padding: 10px 0px;
}

